<h1>Houses#show</h1>
<%= @house.title %>, <%= @house.overview %>

<%= @user.name%>, <%= @user.email%>


<!--favorite-->
<% if current_user.favorite_houses?(@house) %>
    <%= form_for(current_user.favorites.find_by(house_id: @house.id), html: { method: :delete }) do |f| %>
      <%= hidden_field_tag :house_id, @house.id %>
      <%= f.submit 'お気に入り登録解除ボタン', class: 'btn btn-danger' %>
    <% end %>
<% else %>
    <%= form_for(current_user.favorites.build) do |f| %>
      <%= hidden_field_tag :house_id, @house.id %>
      <%= f.submit 'お気に入り登録ボタン', class: 'btn btn-primary' %>
    <% end %>
<% end %>
<!--favorite-->


<% if current_user.id == @house.user_id %>
    | <%= link_to "delete", @house, method: :delete,data: { confirm: "消すよ?" } %>
<% end %>


<h2>コメント一覧</h2>
<% @comments.each do |comment| %>
  <div>
    <a href="/users/<%= @house.user.id %>"><%= comment.user.email %></a>
    <%= comment.content %>
  </div>
<% end %>

<%= form_for [@house, @comment] do |f| %>
  <%= f.text_field :content %>
  <br>
  <%= f.submit 'コメントする' %>
<% end %>