<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
        <%= render 'shared/stats' %>
      </section>
  </aside>
  
  <div class="col-md-8">
      <h3>hogeMicroposts</h3>
      <% @houses.each do |house| %>
    <li>
      <%= link_to house.title, house %>
    </li>
  <% end %>
  </div>
  
  <% if current_user.favpost?(house) %>
    <%= form_for(current_user.favorites.find_by(house_id: house.id), html: { method: :delete }) do |f| %>
      <%= hidden_field_tag :house_id, house.id %>
      <%= f.submit 'お気に入り登録解除', class: 'btn btn-danger' %>
    <% end %>
  <% else %>
    <%= form_for(current_user.favorites.build) do |f| %>
      <%= hidden_field_tag :house_id, house.id %>
      <%= f.submit 'お気に入り登録', class: 'btn btn-primary' %>
    <% end %>
  <% end %>
  
</div>